*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #293845;
}

strong{
    font-weight: 700;
}

em{
    font-style: italic;
    }